{
    "extends": "eslint:recommended",
    "rules": {
        "no-irregular-whitespace": 0,
        "no-console": 0
    },
    "globals": {
        "j": true,
        "jslogger": true,
        "angular": true,
        "async": true,
        "setTimeout": true,
        "$": true,
        
        "modules": true,
        
        "module": true,
        "inject": true,
        "describe": true,
        "it": true,
        "beforeEach": true,
        "afterEach": true,
        "expect": true,
        "sinon": true,
        
        "require": true,
        "document": true,
        "alert": true,
        "console": true
        
    }
}

