 <div class="jumbotron text-center">
        <h1>About Page</h1>
        <p>{{message}}</p>
        <div class="input-group">
            <input type="text" id="nameSearch"  class="form-control" placeholder=" Input summoner name" ng-model="summoner.name"/>
            <span class="input-group-btn">
                <img id="searchSummonerIcon" style="float:right" src='/images/searchIcon.png' ng-click="getSummonerData()"/>
            </span>
        </div>
        
        <div class="container">
        <div class="jumbotron">
            <div ng-show="doesSummonerExist" class="row">
                <p  ng-if='summoner.iconId'>Summoner Icon</p>
                <img class = "summoner-icon-image" ng-if='summoner.iconId' ng-src="http://ddragon.leagueoflegends.com/cdn/{{currentGameVersion}}/img/profileicon/{{summoner.iconId}}.png">
            <p ng-if="summoner.areaName">Battled in {{summoner.areaName}}</p>
            <p ng-if="summoner.queue">Good at {{summoner.queue}}</p>
            <div ng-if="summoner.rank">
                <p> Rank in {{summoner.rank}} {{summoner.division}}</p>
                <img id="rankIcon" src='/images/{{summoner.rank}}.jpg'/>            
            </div>
            <div>
                <p ng-if="summoner.rankPoint">Points: {{summoner.rankPoint}}</p> 
            </div>
            </div>
        </div>

  
    </div>
</div>
