@media (min-width: 1000px) {
  .container {
    width: 900px;
  }
  .container .jumbotron {
    padding-left:46px;
    padding-right:46px;
  }
}
.jumbotron {
  margin-top: 100px;
}

.mainUniversityTables {
  margin-top: 100px;
}

.summoner-heading {
  margin-left: 50px;
}

.summoner-icon-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.division-rankings {
  text-align: center;
  vertical-align: middle;
  margin-bottom: 5px;
}

.LP-rankings-soloq {
  text-align: center;
  vertical-align: middle;
}

.not-found-summoner-text {
  color: red;
}

.uni-width-larger {
  width: 25%;
}

.uni-width-smaller {
  width: 5%;
}

.form-input-filter-name {
  margin-bottom: 15px;
}

.university-name {
  color: gray;
}



/**
  All Tier, Division and LP Ranking
**/

.uni-ranking-tier-Challenger {
}

.uni-ranking-tier-Masters {
}

.uni-ranking-tier-Diamond {
  color: cyan;
}

.uni-ranking-tier-Platinum {
  color: #a3c2c2;
}

.uni-ranking-tier-Gold {
  color: #FFD700;
}

.uni-ranking-tier-Silver {
  color: #c0c0c0;
}

.uni-ranking-tier-Bronze {
  color: #cd7f32;
}

